#name1{
    font-family: proximanova-semibold;
    
    font-weight: normal;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
    margin-right: 20px;
    padding-bottom: 10px;

}

#container{
    width: 50%;
   
    margin: auto;
    margin-top: 120px;
}
body{
    background-color: #e4f2ea;
}

#container h1{
    font-size: 2.5rem;
    font-family: Lato,sans-serif;
    letter-spacing: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

#container h3{
    font-size: 1.25rem;
    font-weight: 300;
}

#name{
    margin-top: 10px;
}

input[type=text] {
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid slategrey;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid  rgb(106, 187, 241)
  }

  input[type=password] {
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid slategrey;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=password]:focus {
    border: 3px solid  rgb(106, 187, 241);
  }

  #submit{
    width: 100px;
    height: 40px;
    color: white;
    background-color: #444;
    margin: auto;
    border: 0px;
    border-radius: 5px; 
    margin-left: 120px;
  }